.ImageCardWrap {
  border-radius: 4px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 1px 6px #2e2f4214, 0 1px 1px #2e2f4229, 0 2px 1px #2e2f4214;

  transition: transform var(--animation-duration) var(--timing-function);
}

.ImageCardWrap:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.ImageCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
